.add-user-containers{
    width: 40vw;
    height: 500px;
    padding: 5px;
    overflow: auto;
    margin: 5px;
    align-items: center;    
}

.container-space{
    padding: 5px;
    min-width: 300px;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
