.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.img{
    height:40px
}
.title-logo{
    height: 40px;
}
.title-content{
    text-align-last: right;
    font-size: x-small;
}
.main-container {
    height: 100%;
}