.admin-main-container {
    height: 100%;
    padding: 15px;
  }
  
  .grid-container {
    height: calc(100% - 35px);
    // padding: 15px;
    text-align: center;
  }
  
  .header-field {
    font-size: x-small;
  }
  